<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag character.image %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= character.level %>
  </p>

  <p>
    <strong>Backstory:</strong>
    <%= character.backstory %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= character.race %>
  </p>

  <p>
    <strong>Path:</strong>
    <%= character.path %>
  </p>

  <p>
    <strong>User:</strong>
    <%= character.user_id %>
  </p>

</div>
