<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rp Characters" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
    <nav class="navbar">
      <div class="row col align-self-start">
        <a class="navbar-brand">
        <img class="logo" src="https://www.co-drs.org/themes/custom/frontend_b5/img/logo-hd-min.webp" height= "10px" class="d-inline-block align-top" alt="logo de chronique oublié">
        RP Characters
        </a>
      
        <div class="row col align-self-end d-inline-block align-top"">
          <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Sign out</button>
        </div>
      </div> 
    </nav>
  </header>

  <body class="container bg-image" style="background-image: url('https://media.istockphoto.com/id/959104114/vector/light-colored-beige-vintage-paper.jpg?s=612x612&w=0&k=20&c=JvE0rI9Htw-dwm6VlxW7UVbHtxKi_SnMEjpvXfwISa8='); height: 100vh; " >
    <div class="">
      <%= yield %>
    </div>
  </body>
</html>
